* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* =====font family ==== */
    --primaryfont: "Playfair Display", serif;
    --secondaryfont: " Open Sans", sans-serif;
    --poppinsfont: "poppins", sans-serif;

    /* ==== color ====*/
    --white-color: white;
    --white-rgb: 255, 255, 255;
    --white-f5f5f5-color: #f5f5f5;
    --white-f8f8f8-color: #f8f8f8;
    --white-ddd-color: #ddd;
    --primary-yellow-color: #ffd978;
    --gold-color: gold;
    --black-color: black;
    --black-rgb: 0, 0, 0;
    --black-141516-color: #141516;
    --black-202122-rgb: 20, 21, 22;
    --black-1f1f1f-color: #1f1f1f;
    --black-1c1c1c-color: #1c1c1c;
    --black-151617-color: #151617;
    --black-333-color: #333;
    --black-555-color: #555;
    --black-444-color: #444;
    --black-9fa1a1-color: #9fa1a1;
    --black-797979-color: #797979;
    --black-999-color: #999;
}

/* ====== common css start =========== */

/* Container */
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, 1rem);
    padding-left: var(--bs-gutter-x, 1rem);

}

@media (min-width: 576px) {

    .container-sm,
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container-md,
    .container-sm,
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1320px;
    }
}

@media (max-width:576px) {
    .container-fluid {
        margin-inline: 0;
        padding-inline: 0;

    }
}

/* Row */
.row {
    display: flex;
    flex-wrap: wrap;

}


/* Columns */
.col {
    flex: 1 0 0%;
}

/* Default: 100% width on mobile */
[class*="col-"] {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) {
    .col-md-auto {
        text-align: center;
        flex: 0 0 auto;
        width: auto;
    }

    .col-md-1 {
        flex: 0 0 8.333%;
        max-width: 8.333%;
    }

    .col-md-2 {
        flex: 0 0 16.666%;
        max-width: 16.666%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }

    .col-md-5 {
        flex: 0 0 41.666%;
        max-width: 41.666%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
        text-align: start;
    }

    .col-md-7 {
        flex: 0 0 58.333%;
        max-width: 58.333%;
    }

    .col-md-8 {
        flex: 0 0 66.666%;
        max-width: 66.666%;
    }

    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        flex: 0 0 83.333%;
        max-width: 83.333%;
    }

    .col-md-11 {
        flex: 0 0 91.666%;
        max-width: 91.666%;
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Large devices (desktops, ≥992px) */
@media (min-width: 992px) {
    .col-lg-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .col-lg-1 {
        flex: 0 0 8.333%;
        max-width: 8.333%;
    }

    .col-lg-2 {
        flex: 0 0 16.666%;
        max-width: 16.666%;
    }

    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }

    .col-lg-5 {
        flex: 0 0 41.666%;
        max-width: 41.666%;
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 58.333%;
        max-width: 58.333%;
    }

    .col-lg-8 {
        flex: 0 0 66.666%;
        max-width: 66.666%;
    }

    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 83.333%;
        max-width: 83.333%;
    }

    .col-lg-11 {
        flex: 0 0 91.666%;
        max-width: 91.666%;
    }

    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Display Flex */
.d-flex {
    display: flex !important;
}

/* text-centre */
.text-centre {
    text-align: center;
}

/* Justify Content Utilities */
.justify-content-start {
    justify-content: flex-start !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-around {
    justify-content: space-around !important;
}

.justify-content-evenly {
    justify-content: space-evenly !important;
}

.text-left {
    text-align: left;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.px-20 {
    padding: 0 1.25rem;
}

.mt-30 {
    margin-top: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-50 {
    margin-top: 50px;
}

/* === fonts sizes ===*/
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    color: var(--white-color);
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: popins;
}

h1,
.h1 {
    font-size: calc(4.125rem + 1.5vw);
}



@media (min-width: 1200px) {

    h1,
    .h1 {
        font-size: 4.125rem;
    }
}

h2,
.h2 {
    font-family: var(--primaryfont);
    font-optical-sizing: auto;


    font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {

    h2,
    .h2 {
        font-size: 2.063rem;
    }
}

h3,
.h3 {
    font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {

    h3,
    .h3 {
        font-size: 1.75rem;
    }
}

h4,
.h4 {
    font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {

    h4,
    .h4 {
        font-size: 1.5rem;
    }
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

p {
    color: var(--white-color);
    margin-top: 0;
    /* margin-bottom: 1rem; */
}

/* ===========common css ends ========== */


body {
    background-image: url(../images/body-bg-free-img.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    /* overflow: scroll; */
    font-family: var(--secondaryfont);

}

/* === home section start === */
.site-logo img {
    margin-top: 1rem;
    transition: all 0.2s linear;
    width: 160px;
    height: 160px;
    text-align: center;

}


/* header {} */

.brand-for-lg {
    display: none;
}

.hero-section {
    background-image: url(../images/rings.jpg);
    /* background: url(../images/rings.jpg); */
    background-color: rgba(var(--black-rgb), 0.3);
    /* height: 200px; */
    width: 100%;
    background-size: cover;
    background-position: center;
    height: auto;
    /* background-repeat: no-repeat; */
    background-blend-mode: multiply;
}

.navbar {
    padding: 10px 15px;
}



.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
}

.brand-for-lg {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.5em;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.cart-bar {
    display: none;
}

.cart-count-item {
    top: -10px;
    right: -12px;
}

.cart-text a {
    color: var(--primary-yellow-color) !important;
    font-family: var(--secondaryfont);
    font-weight: 700;


}

.nav-item {
    position: relative;
}

.nav-link {
    text-decoration: none;
    padding: 10px 15px;
    color: var(--white-color);
    display: block;
}

.nav-link:hover {
    color: var(--primary-yellow-color);
}

.active {
    color: var(--primary-yellow-color);

}

/* Dropdown Menu */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--black-444-color);
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
    z-index: 10;
}

.dropdown-item a {
    color: var(--white-color);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.dropdown-item a:hover {
    background-color: var(--black-444-color);
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

.brand-for-sm {
    display: none;
}

/* =====home section media query */
@media (max-width:920px) {
    .cart-bar {
        display: block;
    }

    .hero-section {
        margin-top: 0px;
    }

    .site-logo {
        display: none;
    }

    .brand-for-lg {
        display: block;
    }

    .nav-menu {
        margin-top: 40px;
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-item {
        text-align: center;
    }

    .navbar-toggler {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        color: var(--black-color);
        background-color: var(--primary-yellow-color);
        border-radius: 2px;
        padding: 3px 10px;
        font-size: 1.6em;
    }

    /* .navbar-toggler::after {
        content: "menu";
        text-transform: uppercase;
        color: var(--);
        font-family: var(--poppinsfont);
    } */

    nav {
        z-index: 999;
        position: fixed !important;
        top: 0px;
        background-color: rgba(var(--black-rgb), 0.8);
        justify-content: space-between;
        right: 0;
        display: flex;
        width: 100%;
        /* to stretch across screen */
        align-items: center;
        /* padding: 10px 20px; */
    }

    .first-section {
        margin-top: 176px;
    }

    .brand-for-lg {
        display: block;
    }

    .brand-for-sm {
        display: none;
    }

    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 0 0px; */
        /* margin-top: 30px; */
        width: 100%;
    }


}

@media (min-width: 922px) {
    .navbar-toggler {
        display: none;
    }

}

@media (max-width:576px) {
    .navbar-container img {
        height: 50px;
        width: 100%;
    }

    nav {
        z-index: 999;
        position: fixed !important;
        top: 0px;
        background-color: rgba(var(--black-rgb), 0.8);
        justify-content: space-between;
        display: flex;
        width: 100%;
        right: 0;
        /* to stretch across screen */
        align-items: center;
        /* padding: 10px 20px; */
    }

    .first-section {
        margin-top: 74px;
    }

    .brand-for-lg {
        display: none;
    }

    .brand-for-sm {
        display: block;
    }

    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0px;
        /* margin-top: 30px; */
        width: 100%;
    }
}

.primary-btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 30px;
    padding: 12px 35px;
    border: 2px solid;
    border-color: var(--primary-yellow-color);
    background-color: rgba(var(--white-rgb), 0);
    color: var(--white-color);
}

.primary-btn:hover {
    background-color: var(--primary-yellow-color);
    color: var(--black-color);
}

.ring-h1 {
    margin-top: 50px;
    line-height: 1.5rem;
}

.ring-p {
    /* line-height: 50px; */
    margin: 20px 0;
}

.ring-btn {
    margin-top: 50px;
    margin-bottom: 280px;

}

@media (max-width:576px) {
    .ring-btn {
        margin-top: 50px;
        margin-bottom: 28px;

    }

    .primary-btn {
        margin-bottom: 28px;

    }
}

.neckless {
    background-image: url(../images/pic-01.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.earrings {
    background-image: url(../images/earrings-free-img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.custom-section {
    margin-top: 30px;
    margin-bottom: 20px;
}

.custom-row {
    column-gap: 30px;
    row-gap: 30px;
}

.custom-neckless {
    padding: 70px 20px 20px 20px;
}

.man-hat {
    text-align: left;
    padding: 30px;

}

.desc {
    margin-top: 30px;
}

.btn-container {
    margin-top: 50px;
    margin-bottom: 283px;
}

.earrings-row {
    margin-top: 65px;
    flex-wrap: wrap;
    text-align: center;
}

.earrings-content {
    margin-top: 100px;
    text-align: center;
    padding: 10px;

}

.for-man {
    background-image: url(../images/man-with-hat-free-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.for-women {
    background-image: url(../images/woman-jewelry-free-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: end;
    justify-content: flex-end;
    background-position: center;

}

.man-hat-content {
    text-align: left;
    padding: 30px;
}

.man-hat-content_btn {
    margin-top: 80px;
    margin-bottom: 30px;
}

.women-content_btn {
    margin-bottom: 30px;
}

/* Offer Bar Styling */
.offer-row {
    background-color: var(--primary-yellow-color);
}

.custom-offer-bar {
    display: flex;
    width: 100%;
    padding: 40px 20px;
    /* column-gap: 130px; */
    row-gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    justify-content: space-between;
    vertical-align: middle;
}

.membership-title {
    font-size: 42px;
    font-family: var(--primaryfont);
    font-weight: 600;
}

.membership-subtitle {
    font-size: 20px;
    font-family: var(--primaryfont);
    font-weight: 600;
}

.join-btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 30px;
    padding: 12px 35px;
    /* border: 2px solid #000000; */
    background-color: var(--black-color);
    color: var(--white-color);
}

.join-btn:hover {
    background-color: var(--white-color);
    color: var(--black-color);
    transition: 0.3s;
    border: none;
}

.footer-container {
    background-color: var(--black-141516-color);
}

.home-copyright {

    justify-content: space-between;
    padding: 50px 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;


}

.footer-text {
    color: var(--white-color);
    font-size: 16px;
}

@media (max-width: 1215px) {
    .offer-bar {
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
    }


}

@media (max-width:576px) {
    .home-copyright {
        width: 100%;
        display: flex;
        align-content: center;
        align-items: center;
        column-gap: 30px;
        justify-content: space-around;
        row-gap: 5px;
        padding-inline: 30px;
    }

    .btn-container-mb {
        margin-top: 50px;
        margin-bottom: 28px;
    }

    .earrings-content {
        margin-top: 0px;
        text-align: center;
        padding: 10px;

    }


}

/* ===home section ends */

/* ====================ABOUT US PAGE START ==================== */
.about-us-hero-section {
    background-image: url(../images/about-us-bg-free-img.jpg);
    background-color: rgba(var(--black-rgb), 0.3);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-blend-mode: multiply;
}

.about-content {
    padding-right: 60px;
    margin-top: 50px;
    padding-bottom: 150px;
}

/* .abt-title {} */

.about-header>h1 {
    font-family: var(--primaryfont);
    font-weight: 700;
    font-size: 61px;
    margin-top: 20px;
}

.about-disc {
    margin-top: 30px;
    font-family: var(--poppinsfont);
    line-height: 2;
    font-size: 18px;
}

.line {
    border-top: 2px solid var(--primary-yellow-color);
    width: 20%;
    margin: 20px 0;
}


.history {
    background-image: url(../images/about-bg-free-img.jpg);
    background-color: rgba(var(--black-202122-rgb), 0.4);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-blend-mode: multiply;
}

.history-content {
    padding: 70px 0 50px 100px;

}

.our-parners {
    background-color: var(--black-1f1f1f-color);
    ;
}

.partners-box {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    padding: 50px 20px 100px 20px;

}

.partners-column {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;

}


.learn-btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 30px;
    padding: 12px 25px;
    margin-top: 9px;
    border: 2px solid var(--white-ddd-color);
    /* background-color: black; */
    color: var(--white-color);
    font-size: 20px;
    font-family: var(--poppinsfont);
    font-weight: 300;
}

.learn-btn:hover {
    background-color: var(--white-color);
    color: var(--black-color);
    transition: 0.3s;
    border: 2px solid var(--white-color);
    ;
}

.philosophy-container {

    background-color: var(--black-1f1f1f-color);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 50px 70px 50px;
    column-gap: 50px;
    row-gap: 20px;
    background-blend-mode: multiply;
    text-align: left;
    background-position: center;
}

.philosophy-title {
    margin-bottom: 20px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background: url("../images/play.png") no-repeat center;
    background-size: contain;
    background-position: center;
    opacity: 0.8;
    cursor: pointer;

    /* z-index: 666; */
}

.video-container {
    position: relative;


}

.membership-section {
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact-box {
    background-color: var(--black-1f1f1f-color);
    /* height: 50px; */
}

.contact-content a {
    text-decoration: none;

}



.contact-content h2 a {
    color: var(--primary-yellow-color);
    ;

    font-size: 45px;
}

.contact-content a p {
    font-family: var(--primaryfont);
    color: var(--white-color);
    font-weight: 600;
    font-size: 20px;

}

.contact-box {
    margin-top: 30px;
    padding: 50px 0 50px 0;
}

.contact-content {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.social-media {
    display: flex;
    text-align: center;
    column-gap: px;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.social-media i {
    padding: 16px;
    color: var(--white-color);
    font-size: 20px;
    transition: transform 0.4s ease, color 0.4s ease;
}

.social-media i:hover {
    color: var(--primary-yellow-color);
    transform: translateY(-15px);
}

/* ====================ABOUT US PAGE MEDIA QUERY==================== */
@media (max-width: 920px) {


    .history-content {
        padding: 70px 20 50px 20px;


    }

    .philosophy-content {
        padding-right: 0;
        margin-top: 50px;
        /* padding-bottom: 150px; */
        text-align: left;

    }
}

@media (max-width: 768px) {
    .about-content {
        /* padding-right: 0; */
        margin-top: 50px;
        padding-bottom: 150px;
        text-align: left;
        padding: 0 20px;
    }

    .philosophy-content {
        padding-right: 0;
        margin-top: 50px;
        /* padding-bottom: 150px; */
        text-align: left !important;

    }

    .video-container {
        position: relative;
        margin-inline: -15px;
    }

    @media (max-width: 920px) {

        .history-content {
            padding: 70px 0px 50px 0px;

        }
    }

    @media (max-width:799px) {
        .partners-img {
            display: flex;
            flex: 0 0 48%;
            justify-content: center;
        }

        .philosophy-container {
            text-align: left;
            padding: 70px 20px 50px 20px;


        }
    }



    @media (max-width: 768px) {
        .philosophy-content {
            padding-right: 0;
            margin-top: 50px;
            /* padding-bottom: 150px; */
            text-align: left !important;

        }

    }
}

/* ====================ABOUT US ENDS ==================== */

/* ====================MY ACCOUNT PAGE START ==================== */

.myaccontent {
    margin-top: 40px;
    padding: 50px 30px 50px 30px;

}

.myaccontent h1 {
    color: var(--white-f8f8f8-color);
    font-weight: 600;
    font-size: 70px;
}

.my-account-form {
    background-color: var(--black-151617-color);
    padding: 60px 20px 40px 20px;
}

.login-box {
    background-color: var(--black-1f1f1f-color);
    padding: 40px;
    border: 1px solid var(--white-f8f8f8-color);
    border-radius: 5px;
    width: 550px;
    /* text-align: center; */
}

.login-box h2 {
    color: var(--white-color);
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.login-box input[type="text"]::placeholder,
.login-box input[type="password"]::placeholder {
    color: var(--black-999-color);
}
.passwordvalidation{
    color: var(--white-f5f5f5-color);
}
.remember {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: var(--white-color);
    font-weight: bold;
}

.remember input {
    margin-right: 10px;
    accent-color: var(--primary-yellow-color);
    ;
    width: 15px;
    height: 15px;
}

.login-btn {
    vertical-align: middle;
    padding: 15px;
    width: 100%;
    background: transparent;
    border: 1px solid var(--primary-yellow-color);
    ;
    border-radius: 30px;
    color: var(--white-color);
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: var(--primary-yellow-color);
    ;
    color: var(--black-color);
}

.password-wrapper {
    position: relative;
}

#togglePassword {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* ==================== MY ACCOUNT PAGE MEDIA QUERY==================== */
@media (max-width: 600px) {
    .login-form {
        width: 90%;
        padding: 20px;
    }

    .login-form input {
        font-size: 14px;
        padding: 12px;
    }

    .login-form button {
        font-size: 16px;
        align-self: center;
    }

    .my-account-form {
        padding: 60px 3px 40px 3px;
    }

    .myaccontent {
        margin-top: 10px;
        padding: 50px 20px 50px 30px;
    }
}


/* ====================MY ACCOUNT PAGE ENDS ==================== */


/* ==================== STORE PAGE START==================== */
.cards-box {
    background-color: var(--black-151617-color);
    /* height: 600px; */
    padding: 20px 25px;
    row-gap: 40px;
    display: flex;
    flex-direction: column;

}

.earrings-cards-box {
    padding: 20px 25px;
    row-gap: 40px;
    display: flex;
    flex-direction: column;
}

.earring-col {
    background-color: var(--black-151617-color);
}

.filter-btn {
    padding: 12px 25px;
    background: transparent;
    border: 1px solid var(--primary-yellow-color);
    ;
    border-radius: 30px;
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    /* margin-top: 20px; */
    transition: 0.3s;
}

.filter-btn:hover {
    background-color: var(--primary-yellow-color);
    ;
    color: var(--black-color);
}

.filter-btn i {
    margin-right: px;
}

.card-navbar {
    column-gap: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.filter-result p {
    margin-bottom: 0px;

}

#popularity {
    padding: 10px 15px;
    border: 2px solid var(--white-ddd-color);
    border-radius: 8px;
    background-color: var(--white-color);
    color: var(--black-797979-color);
    font-size: 16px;
    outline: none;
    appearance: none;
    /* Remove default arrow */
    background-color: var(--black-141516-color);
    background-image: url('data:image/svg+xml;utf8,<svg fill="gray" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 18px;
    background-position: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

#popularity:hover {
    border-color: #888;
}

#popularity:focus {
    background-color: var(--black-141516-color);
    border-color: var(--black-333-color);
    box-shadow: 0 0 5px rgba(var(--black-rgb), 0.2);
}

.card-main-navbar {
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 20px;
    /* Space between cards */
    /* padding: 10px; */
}

.off-tag {
    background-color: var(--black-141516-color);
    color: var(--white-color);
    border-radius: 50%;
    padding: 8px 18px;
    top: 24px;
    left: 20px;
    border-radius: 3px 15px 3px 15px;
}

.out-off-stock {
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(var(--white-rgb), 0.845);
    color: var(--black-141516-color);
    width: 60%;
    line-height: 3;
    text-transform: uppercase;
    font-weight: 600;
}

.out-off-stock:hover {
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white-ddd-color);
    color: var(--primary-yellow-color);
    ;
    width: 60%;
    line-height: 3;
    text-transform: uppercase;
}

.card-container .card-col {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    box-sizing: border-box;
}

.card-container .card-col img {
    width: 100%;
    /* height: 300px; */
    object-fit: contain;
    display: block;
    /* padding: 10px; */
}


.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 0 10px;

}

.card-content p {
    margin: 0.7rem;
    color: var(--black-9fa1a1-color);
    font-size: 16px;
}

.card-content a {
    text-decoration: none;
}

.card-content a h5 {

    margin-bottom: 0.5rem;
    line-height: 1.5rem;
    font-size: 18px;
    font-family: var(--primaryfont);
    color: var(--white-color);
}

.card-content h4 {
    margin-bottom: 0.7rem;
    font-family: var(--secondaryfont);
    font-weight: 700;
    font-size: 16px;
}

.old-price {
    color: var(--black-797979-color);
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.stars {
    margin-bottom: 0.7rem;
    color: var(--white-color);
    font-size: 14px;
}

.pagination {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px 0;
}

.page-number,
.page-arrow {
    padding: 10px 15px;
    background-color: var(--black-333-color);
    border-radius: 8px;
    color: var(--white-color);
    text-decoration: none;
    border: 1px solid var(--white-ddd-color);
    transition: all 0.3s ease;
}

.page-number:hover,
.page-arrow:hover {
    background-color: var(--white-f8f8f8-color);
    color: var(--black-1f1f1f-color);
}

.page-number.active {
    background-color: var(--white-f8f8f8-color);
    color: var(--black-333-color);
}

.cart-icon {
    width: 34px;
    height: 34px;
    background-color: var(--black-444-color);
    ;
    color: var(--white-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cart-icon::after {
    content: "Add to Cart";
    position: absolute;
    /* left: 110%; */
    /* Position above icon */
    /* left: 50%; */
    right: -2px;
    transform: translateX(-50%);
    background-color: var(--black-333-color);
    color: var(--white-color);
    padding: 5px 8px;
    border-radius: 4px;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: opacity 0.3s ease;
    font-size: 12px;
}

.cart-icon:hover::after {
    opacity: 1;
}


.cart-and-eye {

    position: absolute;
    top: 23px;
    right: 12px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
    z-index: 99;
    opacity: 0;
    display: flex;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.card-col:hover .cart-and-eye {

    opacity: 1;
    visibility: visible;
}


.eye-icon {

    width: 34px;
    height: 34px;
    background-color: var(--black-444-color);
    ;
    color: var(--white-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eye-icon::after {
    content: "Quick View";
    position: absolute;
    /* left: 110%; */
    /* Position above icon */
    /* left: 50%; */
    right: -2px;
    transform: translateX(-50%);
    background-color: var(--black-333-color);
    color: var(--white-color);
    padding: 5px 8px;
    border-radius: 4px;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: opacity 0.3s ease;
    font-size: 12px;
}

.eye-icon:hover::after {
    opacity: 1;
}

/* ==================== STORE PAGE MEDIA QUERY ==================== */

@media (max-width: 992px) {
    .card-container .card-col {
        flex: 1 1 calc(33.33% - 20px);
        max-width: calc(33.33% - 20px);
    }
}


@media (max-width: 768px) {
    .card-container .card-col {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}


@media (max-width: 500px) {
    .card-container .card-col {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/* ==================== STORE PAGE ENDS==================== */

/* ==================== SHOPING CART START==================== */
.shopping-cart {
    width: 400px;
    border: 1px solid var(--black-555-color);
    margin: 30px auto;
    padding: 0 10px;
    background-color: var(--black-1c1c1c-color);
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--black-555-color);
    /* padding-bottom: 10px; */
    padding: 0px 18px;
}

/* .item-details h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
  } */

.close-btn {
    font-size: 24px;
    cursor: pointer;
    font-weight: 200;
}

.cart-item {
    display: flex;

    margin: 20px 0;
    /* border-bottom: 1px solid  var(--black-555-color); */
    padding-bottom: 10px;
    position: relative;
    padding: 0 18px;
    align-items: flex-end
}

.items-box {
    height: 220px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-yellow-color) transparent;
    /* Gold thumb color */
}



.cart-item img {
    width: 60px;
    margin-right: 15px;
}

.item-details {
    align-self: end;
}

/* .item-details h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
  } */
.item-details p {
    margin: 0 0 7px 0;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity button {
    width: 40px;
    height: 40px;
    background-color: var(--black-color);
    color: var(--white-color);
    border: 1px solid var(--white-color);
    cursor: pointer;
    font-size: 25px;
}


.quantity input {
    width: 30px;
    text-align: center;
    border: 1px solid var(--white-color);
    background-color: var(--white-color);
    color: var(--black-color);
    height: 40.1px;
}


.item-price {
    margin-left: auto;
    /* font-weight: bold; */
    position: relative;
    font-size: 14px;
}

.remove-item {
    width: 17px;
    height: 17px;
    border: 1px solid var(--white-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 1px;
    right: 18px;
}


.cart-subtotal {
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--black-555-color);
    border-bottom: 1px solid var(--black-555-color);
    /* padding: 18px; */
    margin-top: 10px;
}

.cart-subtotal p {
    /* margin: 0 0 7px 0; */
    line-height: 3;
    margin-bottom: 0;
}

.cart-buttons {
    padding: 0 18px;
}

.cart-buttons button {
    width: 100%;
    padding: 17px;
    margin: 10px 0;
    border-radius: 50px;
    border: 1px solid var(--gold-color);
    background-color: var(--black-1c1c1c-color);
    color: var(--white-color);
    cursor: pointer;

}

.cart-buttons button:hover {
    background-color: var(--gold-color);
    color: var(--black-color);
}

/* .quantity input[type="text"] {} */

.cart-header p {
    margin: 15px 0;

    font-family: var(--primaryfont);
    font-size: 20px;
    font-weight: 400;
    padding: 0 0;
}

.remove-item i {
    font-size: 12px;
    color: var(--white-color);
    transition: color 0.3s, transform 0.3s;
}

.zero-product-ntf-box {
    text-align: center;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.zero-product {
    display: none;
}

.items-box::-webkit-scrollbar {
    width: 6px;
}

.items-box::-webkit-scrollbar-track {
    background: transparent;
}

.items-box::-webkit-scrollbar-thumb {
    background-color: var(--primary-yellow-color);
    ;
    /* Gold color */
    border-radius: 8px;
}

.items-box::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-yellow-color)
        /* Darker gold */
}


/* ==================== SHOPING CART ENDS==================== */
/* ==================== PRODUCT DETAILS PAGE START ==================== */
.product-detail-container {
    column-gap: 30px;
    border-bottom: 1px solid var(--white-f8f8f8-color);
    padding-bottom: 55px;
}

.card-container .detail-col img {
    width: 100%;
    /* height: 300px; */
    object-fit: contain;
    display: block;
    /* padding: 10px; */
}

.product-content {
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;

}

.product-head h3 {
    color: var(--white-color);
    font-weight: 600;
}

.product-head {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.product-price {
    line-height: 2;
    font-weight: 600;
}

.product-description {
    line-height: 1.7;
    font-size: 17px;
    font-family: var(--poppinsfont);
    margin-bottom: 25px;
}



.arrow-btn {
    background-color: var(--primary-yellow-color);
    color: var(--black-color);
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

/* .arrow-btn:hover {
    background-color: #e0a800;
} */
.btn-wrapper {
    display: flex;
    column-gap: 5px;
}

.quantity-plus-addtocart {
    display: flex;
    width: 100%;
    /* row-gap: 70px; */
    column-gap: 70px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid var(--white-color);
    align-content: center;
    row-gap: 5px;

}

.add-to-cart {
    width: 100%;
    padding: 15px 30px;
    margin: 10px 0;
    border-radius: 50px;
    border: 1px solid var(--gold-color);
    background-color: var(--black-1c1c1c-color);
    color: var(--white-color);
    cursor: pointer;
}

.product-id-category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--white-ddd-color);
    margin-top: 10px;
    row-gap: 5px;
    column-gap: 10px;
}

.info-review-buttons {
    color: var(--white-color);
    font-weight: 700;
    margin-top: 25px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.info-text {
    cursor: pointer;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
}

.info-text.active {
    border-bottom: 2px solid var(--primary-yellow-color);
    color: var(--primary-yellow-color);
}

.info-content {
    margin-top: 20px;
}

.description-text {
    font-size: 17px;
    font-family: var(--poppinsfont);
    line-height: 1.3;
}

/* ==================== PRODUCT DETAILS PAGE MEDIA QUERY ==================== */
@media (max-width:776px) {
    .quantity-plus-addtocart {

        display: flex;
        width: 100%;
        /* row-gap: 70px; */
        column-gap: 5px;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 1px solid var(--white-color);
        align-content: center;
        row-gap: 5px;
    }

}

/* ==================== PRODUCT DETAILS PAGE ENDS ==================== */
/* === Base Font Sizes === */
/* === Base Font Sizes === */
/* body h1 {
    font-size: calc(1.8rem + 1vw) !important;
    font-weight: 700 !important;
  }
  
  body h2 {
    font-size: calc(1.6rem + 0.8vw) !important;
    font-weight: 600 !important;
  }
  
  body h3 {
    font-size: calc(1.4rem + 0.6vw) !important;
    font-weight: 600 !important;
  }
  
  body h4 {
    font-size: calc(1.2rem + 0.5vw) !important;
    font-weight: 500 !important;
  }
  
  body h5 {
    font-size: calc(1rem + 0.4vw) !important;
    font-weight: 500 !important;
  }
  
  body h6 {
    font-size: calc(0.9rem + 0.3vw) !important;
    font-weight: 500 !important;
  } */

/* === Extra Large Screens (≥1200px) === */


/* === Large Screens (≥992px & <1200px) === */
@media (max-width: 992px) {
    body h1 {
        font-size: 3rem !important;
    }

    body h2 {
        font-size: 1.8rem !important;
    }

    body h3 {
        font-size: 1.6rem !important;
    }

    body h4 {
        font-size: 1.4rem !important;
    }

    body h5 {
        font-size: 1.2rem !important;
    }

    body h6 {
        font-size: 1rem !important;
    }

    body p {
        font-size: 1em !important;
    }

    .membership-title {
        font-size: 2rem !important;
    }


    .membership-subtitle {
        font-size: 1.2rem !important;
    }
}

/* === Medium Screens (≥768px & <992px) === */
@media (max-width: 768px) {
    /* body h1 {
        font-size: 2.1rem !important;
    } */

    body h2 {
        font-size: 1.6rem !important;
    }

    body h3 {
        font-size: 1.4rem !important;
    }

    body h4 {
        font-size: 1.2rem !important;
    }

    body h5 {
        font-size: 1.05rem !important;
    }

    body h6 {
        font-size: 0.95rem !important;
    }

    body p {
        font-size: 1em !important;
    }

    body p {
        font-size: 0.8rem !important;
    }

    .membership-title {
        font-size: 1.7rem !important;
    }

    .membership-subtitle {
        line-height: 5;
        font-size: 1.2rem !important;
        font-weight: 100;
    }
}



/* === Small Screens (≥576px & <768px) === */
@media (max-width: 576px) {

    /* body h1 { font-size: 1.75rem !important; } */
    body h2 {
        font-size: 1.5rem !important;
    }

    body h3 {
        font-size: 1.3rem !important;
    }

    body h4 {
        font-size: 1.1rem !important;
    }

    body h5 {
        font-size: 1rem !important;
    }

    body h6 {
        font-size: 0.9rem !important;
    }

    /* body p {
        font-size: 0.8rem !important;
    } */
}

/* === Extra Small Screens (<576px) === */
@media (max-width: 400px) {

    /* body h1 { font-size: 1.6rem !important; } */
    body h2 {
        font-size: 1.4rem !important;
    }

    body h3 {
        font-size: 1.2rem !important;
    }

    body h4 {
        font-size: 1rem !important;
    }

    body h5 {
        font-size: 0.95rem !important;
    }

    body h6 {
        font-size: 0.85rem !important;
    }

    body p {
        font-size: 1em !important;
    }


}

/* ==========toggle side bar ========= */

.sidebar {
    /* padding-inline: 10px; */
    padding-block: 10px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    /* width: 50%; */
    background: rgba(0, 0, 0, 0.916);
    transform: translateX(100%);
    transition: transform 0.4s ease;

    z-index: 1000;
}

.sidebar {
    width: 300px;
    /* Default for large screens */
}

@media (max-width: 992px) {
    .sidebar {
        width: 36%;
        /* For tablets */
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 40%;
        /* For tablets */

    }
}



@media (max-width: 576px) {
    .sidebar {
        width: 60%;
        /* For small mobiles */
        /* padding-top: 77px !important; */
    }
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar-links {
    display: flex !important;
    flex-direction: row;
    column-gap: 17px;
    margin-left: 7px;
    margin-top: 7px;
    /* padding: 0px 8px  !important; */
    flex-wrap: wrap;
    align-content: center;
    /* justify-content: space-between; */
    align-items: center;
    border: 1px solid #444;
    border-radius: 9px;
    text-decoration: none;

    color: #fff;
    padding: 10px 20px 10px 30px;
    border-bottom: 1px solid #444;
    transition: background 0.3s;
    margin-bottom: 0 !important;
}



.sidebar-nav-content a:hover {
    background: #444;
}

/* Responsive */
.my-profile {
    /* padding: 0px !important; */
    /* width: 100%; */
    display: flex !important;
    flex-direction: row;
    column-gap: 17px;
    padding: 16px 8px 16px 16px !important;
    flex-wrap: wrap;
    margin-left: 7px;
    align-content: center;
    /* justify-content: space-between; */
    align-items: center;
    border: 1px solid #444;
    border-radius: 9px;
    text-decoration: none;
    /* font-size: 1.2rem; */
}

.sidebar-links h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300 !important;
    font-size: 16px !important;
    margin-bottom: 0 !important;
}

.my-profile h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    margin-bottom: 0 !important;
}

.my-profile i {
    color: aliceblue;
    font-size: 40px;

}

.my-profile {
    text-decoration: none;
}

#my-profile a {
    text-decoration: none;
}

.icon-line {
    color: rgba(240, 187, 64, 1);
    /* Yellow outline */
    font-size: 18px;

}

@media(max-width: 992px) {
    .nav-links {
        display: none;
        /* Hide normal menu */
    }

    .toggle-btn {
        display: block;
        /* Show toggle btn */
    }

    /* .sidebar {
        padding-top: 176px;
    } */
}

@media (max-width:992px)  {

    /* Only apply hover effects on devices that support hover (like desktops) */
    
.cart-icon::after {
    content: "Add to Cart";
    position: absolute;
    /* left: 110%; */
    /* Position above icon */
    /* left: 50%; */
    right: -2px;
    transform: translateX(-50%);
    background-color: var(--black-333-color);
    color: var(--white-color);
    padding: 5px 8px;
    border-radius: 4px;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    /* transition: opacity 0.3s ease; */
    font-size: 12px;
}

.cart-icon::after {
    opacity: 1;
}


.cart-and-eye {

    position: absolute;
    top: 23px;
    right: 12px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
    z-index: 99;
    opacity: 0;
    display: flex;
    visibility: show;
    /* transition: opacity 0.3s ease, visibility 0.3s ease; */
}

.card-col .cart-and-eye {

    opacity: 1;
    visibility: visible;
}


.eye-icon {

    width: 34px;
    height: 34px;
    background-color: var(--black-444-color);
    ;
    color: var(--white-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eye-icon::after {
    content: "Quick View";
    position: absolute;
    /* left: 110%; */
    /* Position above icon */
    /* left: 50%; */
    right: -2px;
    transform: translateX(-50%);
    background-color: var(--black-333-color);
    color: var(--white-color);
    padding: 5px 8px;
    border-radius: 4px;
    opacity: 1;
    white-space: nowrap;
    pointer-events: none;
    /* transition: opacity 0.3s ease; */
    font-size: 12px;
}

    
}
.back-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #f0c14b;
    color: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none;
}

.back-btn:hover {
    background-color: #d4a017;
}

.back-btn i {
    font-size: 18px;
}

